#photo {
  width: 200px;
}

body {
  font-family: Arial, sans-serif;
  background-color: turquoise;
  color: black;
}

h1,
h2,
h3,
h4 {
  color: pink;
}

#photo {
  margin: 20px;
  padding: 10px;
  border: 4px solid hotpink;
  float: right;
}

.work-highlight {
  color: hotpink;
  font-weight: bold;
}

.Likes {
  background-color: palevioletred;
  color: whitesmoke;
  padding: 15px;
  margin-top: 20px;
}

.info {
  background-color: palevioletred;
  color: whitesmoke;
  padding: 15px;
  margin-top: 20px;
}

.Likes ul li {
  margin: 10px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}
